body{
  margin: 0 !important;
}
.home {
  display: flex;
  background: #1A1C20;
}

.right {
  width: 90%;
}

.games {
  background-color: #24262B;
  padding: 32px;
  margin: 8px;
}

.games-head {
  color: #CFD8DF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.game-wrapper {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  margin-top: 22px;
}

.winner-table-titles {
  color: #B5BEC6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.globalrank{
  width: 9%;
}
.player{
width: 18%;
text-align: center;
}

.amount{
  width: 9%;
}
.gamesplayed{
  width: 10%;
}
.rate{
  width: 8%;
}
.favcoins{
  width: 20%;
  text-align: center;
}
.favgame{
  width: 14%;
}